<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Page Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
        <script src="main.js"></script>
    </head>
    <body>
        <h1>Submitted Info</h1>
        <p>{{ session ['name'] }}</p>
        <p>{{ session ['location'] }}</p>
        <p>{{ session ['language'] }}</p>
        <p>{{ session['comment'] }}</p>
        <a class='btn btn-secondary' href="/">Go Back</a>
    
    </body>
</html>